name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
          - 3.10
          - 3.11
          - 3.12
          - 3.13
          - 3.14

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --frozen

      - name: Ruff lint
        run: uv run ruff check

      - name: Ruff format
        run: uv run ruff format --check

      - name: Ruff import order
        run: uv run ruff check --select I
