name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: uv sync --frozen

      - name: Ruff lint
        run: uv run ruff check

      - name: Ruff format
        run: uv run ruff format --check

      - name: Ruff import order
        run: uv run ruff check --select I

  tests_frozen:
    name: Tests with frozen
    runs-on: ubuntu-latest
    needs:
      - lint
    steps:
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: uv sync --frozen

      - name: Run pytest
        run: uv run pytest

  tests_matrix:
    name: Tests for several python versions
    runs-on: ubuntu-latest
    needs:
      - tests_frozen
    strategy:
      fail-fast: false
      matrix:
        python-version: 
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - uses: actions/checkout@v5

      - name: Install uv & Python
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.11"
          python-version: ${{ matrix.python-version }}

      - name: Install package with uv
        run: uv pip install --system .

      - name: Run tests
        run: uv run pytest
